.footer__principal .footer__menu__list .footer__menu__list__item a:hover, #header .nav-link .dropdown-toggle:hover, #header .nav-link:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.footer__copyright__text, .footer__principal .footer__menu__list .footer__menu__list__item a:active, #header .nav-link:active, #header .dropdown-item:hover {
  background-color: black;
  color: white;
}

.footer__copyright__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Condensed.ttf);
}
/* BODY */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  /* nav */
  /* nav-bar-pages */
  /* nav-bar-pages-dropdown */
  /* nav-bar-pages-click */
  /* search-btn */
  /* nav-bar-icons */
}
#header .header__promo__animation {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: black;
}
#header .header__promo__animation .header__promo__text {
  color: white;
  display: flex;
  animation: moveText 15s linear infinite;
  font-style: italic;
}
#header .btn {
  padding: 0%;
}
#header .img-nav {
  height: 32px;
  align-self: center;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
/* MAIN */
main {
  margin-top: 101px;
  flex-grow: 1;
}

/* FOOTER */
.footer__principal {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer__principal .footer__menu__list {
  list-style: none;
  margin: 0px;
}
.footer__principal .footer__menu__list .footer__menu__list__item {
  margin: 10px;
}
.footer__principal .footer__menu__list .footer__menu__list__item a {
  text-decoration: none;
  color: black;
}
.footer__principal .footer__menu__list .footer__menu__list__item a:active {
  padding: 5px;
}
.footer__principal .footer__icono {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__principal .footer__redes {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.footer__principal .footer__redes .footer__redes__text {
  margin-bottom: 10px;
}
.footer__principal .footer__redes .footer__redes__links {
  display: flex;
  justify-content: space-between;
}

.footer__copyright__text {
  padding: 5px;
  margin: 0;
}

/* BOOTSTRAP CARDS PARA PRODUCTOS */
/* MAIN */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container .card {
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 2px;
}
.container .card .card-body {
  padding-top: 10px;
  padding-left: 10px;
  /* font-family: "roboto-bold"; */
}

/* @font-face {
    font-family: "roboto-bold";
    src: url(../fonts/Roboto-BoldCondensed.ttf);
} */
.main__cat {
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cat .main__cat__img {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
}
.main__cat .main__cat__img img {
  height: auto;
  width: 220px;
}

/* .main__cat__img__info {
    font-family: "roboto-thin-italic";
}
@font-face {
    font-family: "roboto-thin-italic";
    src: url(.../);
} */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  /* HEADER-GENERAL */
  /* nav-bar-form */
  .nav-link {
    padding-left: 8px;
  }
  .d-flex {
    margin-bottom: 12px;
  }
  .d-flex .btn {
    padding: 0%;
  }
  .d-flex .img-nav {
    height: 32px;
    align-self: center;
  }
  /* MAIN-INDEX */
  .second-row {
    margin-top: 24px;
  }
  /* FOOTER-GENERAL */
  .footer__menu {
    width: 120px;
  }
  .footer__menu .footer__menu__list {
    padding-left: 1rem;
  }
  .footer__redes {
    padding-right: 1rem;
    gap: 10px;
  }
  .footer__redes .footer__redes__text {
    display: none;
  }
  .footer__redes .footer__redes__links {
    display: flex;
    flex-direction: column;
  }
  .footer__redes .footer__redes__links a {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
