@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    /* HEADER-GENERAL */
    /* nav-bar-form */
    .nav-link {
        padding-left: 8px;
    }

    .d-flex {
        margin-bottom: 12px;

        .btn {
            padding: 0%;
        }

        .img-nav {
            height: 32px;
            align-self: center;
        }
    }

    /* MAIN-INDEX */
    .second-row {
        margin-top: 24px;
    }

    /* MAIN-CATALOGO */
    .main__cat {
        margin-top: 15px;

        .main__cat__prod {
            width: 50%;
            margin-bottom: 15px;
            padding: 0 5px 0 5px;
        }
    }

    /* MAIN-CONTACTO */
    .main__contact__section {
        flex-direction: column;
        margin: 25px 0 25px 0;
        gap: 25px;

        div {
            height: 200px;
            width: 250px;

            img {
                height: auto;
                width: 40px;
            }
        }
    }

    /* MAIN-LOCALES */
    .main__local__info {
        flex-direction: column;
        width: 300px;
    }

    .bg__info{
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(103, 103, 103, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    }

    /* FOOTER-GENERAL */
    .footer__menu {
        width: 120px;

        .footer__menu__list {
            padding-left: 1rem;
        }
    }

    .footer__redes {
        padding-right: 1rem;
        gap: 10px;

        .footer__redes__text {
            display: none;
        }

        .footer__redes__links {
            display: flex;
            flex-direction: column;

            a {
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 700px) {
    /* MAIN-LOCALES */
    .main__local__info {
        flex-direction: column;
        width: 350px;
    }

    .bg__info{
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(103, 103, 103, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    }
}

@media (min-width: 481px) and (max-width: 1023px) {

    /* HEADER-GENERAL */
    /* nav-bar-form */
    .nav-link {
        padding-left: 8px;
    }

    .d-flex {
        margin-bottom: 12px;

        .btn {
            padding: 0%;
        }

        .img-nav {
            height: 32px;
            align-self: center;
        }
    }

    /* MAIN-CATÁLOGO*/
    .main__cat {
        margin-top: 20px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;

        .main__cat__prod {
            width: 100%;
            margin-bottom: 20px;

            .cat__img__info {
                h6 {
                    padding: 5px 0 5px 5px;
                    font-size: 15px;
                }

                h4 {
                    padding: 5px 0 0 5px;
                }
            }
        }
    }

    /* MAIN-CONTACTO*/
    .main__contact__section {
        flex-direction: column;
        margin: 25px 0 25px 0;
        gap: 25px;

    }

    

    /* FOOTER-GENERAL */
    .footer__menu {
        width: 120px;

        .footer__menu__list {
            padding-left: 1rem;
        }
    }

    .footer__redes {
        padding-right: 1rem;
        gap: 10px;

        .footer__redes__text {
            display: none;
        }

        .footer__redes__links {
            display: flex;
            flex-direction: column;

            a {
                margin-bottom: 10px;
            }
        }
    }
}