* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Condensed.ttf);
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    .header__promo__animation {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        background-color: black;
        .header__promo__text {
            color: white;
            display: flex;
            animation: moveText 10s linear infinite;
            font-style: italic;
        }
    }
    /* nav */
    /* nav-bar-pages */
    .nav-link:hover {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    /* nav-bar-pages-dropdown */
    .nav-link .dropdown-toggle:hover {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .dropdown-item:hover {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    /* nav-bar-pages-click */
    .nav-link:active {
        background-color: black;
        color: white;
    }
    /* search-btn */
    .btn {
        padding: 0%;
    }
    /* nav-bar-icons */
    .img-nav {
        height: 32px;
        align-self: center;
    }
}

@keyframes moveText {
    0% {
        transform: translateX(-0);
    }

    100% {
        transform: translateX(100%);
    }
}

/* MAIN */
main {
    margin-top: 111px;
    flex-grow: 1;
}

/* FOOTER */
.footer__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .footer__menu__list {
        list-style: none;
        margin: 0px;
        .footer__menu__list__item {
            margin: 10px;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: black;
                    text-decoration: underline;
                    font-weight: bold;
                }
                &:active {
                    color: white;
                    background-color: black;
                    padding: 5px;
                }
            }
        }
    }
    .footer__icono {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
    .footer__redes {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        .footer__redes__text {
            margin-bottom: 10px;
        }
        .footer__redes__links {
            display: flex;
            justify-content: space-between;
        }        
    }
}
.footer__copyright__text {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    /* HEADER */
    /* nav-bar-form */
    .nav-item {
        padding-left: 8px;
    }
    .d-flex {
        margin-bottom: 12px;
        .btn {
            padding: 0%;
        }
        .img-nav {
            height: 32px;
            align-self: center;
        }
    }

    /* FOOTER */
    .footer__menu {
        width: 120px;
        .footer__menu__list {
            padding-left: 1rem;
        }
    }

    .footer__redes {
        padding-right: 1rem;
        gap: 10px;
        .footer__redes__text {
            display: none;
        }
        .footer__redes__links {
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 10px;
            }
        }
    }
}