%nav-links-hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

%font-bg {
    background-color: black;
    color: white;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}