/* FOOTER */
.footer__principal {
    background-color: $header-footer-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .footer__menu__list {
        list-style: none;
        margin: 0px;
        .footer__menu__list__item {
            margin: 10px;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    @extend%nav-links-hover;
                }
                &:active {
                    @extend%font-bg;
                    padding: 5px;
                }
            }
        }
    }
    .footer__icono {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
    .footer__redes {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        .footer__redes__text {
            margin-bottom: 10px;
        }
        .footer__redes__links {
            display: flex;
            justify-content: space-between;
        }        
    }
}
.footer__copyright__text {
    @extend%flex-center;
    @extend%font-bg;
    padding: 5px;
    margin: 0;
}