/* HEADER */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    .header__promo__animation {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        background-color: black;
        .header__promo__text {
            color: white;
            display: flex;
            animation: moveText 10s linear infinite;
            font-style: italic;
        }
    }
    /* nav */
    /* nav-bar-pages */
    .nav-link:hover {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    /* nav-bar-pages-dropdown */
    .nav-link .dropdown-toggle:hover {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
    .dropdown-item:hover {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    /* nav-bar-pages-click */
    .nav-link:active {
        background-color: black;
        color: white;
    }
    /* search-btn */
    .btn {
        padding: 0%;
    }
    /* nav-bar-icons */
    .img-nav {
        height: 32px;
        align-self: center;
    }
}
@keyframes moveText {
    0% {
        transform: translateX(-0);
    }
    100% {
        transform: translateX(100%);
    }
}