#main__cat {
  @extend%flex-center;
  flex-direction: column;
}

.main__title__cat {
  width: 100%;
  background-color: black;
  @extend%flex-center;
  padding: 15px;

  p {
    color: white;
    @extend%flex-center;
    margin: 0;
    font-size: x-large;
  }

}

.main__cat {
  margin-top: 25px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.main__cat__prod {
  width: calc(25% - 20px);
  margin-bottom: 25px;
}

.main__cat__prod img {
  width: 100%;
  height: auto;
}

.cat__img__info {
  text-align: start;

  h6 {
    padding: 5px 0 5px 10px;
    margin: 0;
    background-color: black;
    color: white;
    font-style: italic;
  }

  h4 {
    padding: 5px 0 0 10px;
    margin: 0;
    font-weight: bold;
  }
}