/* BOOTSTRAP CARDS PARA PRODUCTOS */
/* MAIN */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    .card {
        border-color: rgba(0,0,0,0.15);
        border-width: 2px;
        .card-body {
            padding-top: 10px;
            padding-left: 10px;
            /* font-family: "roboto-bold"; */
        }
    }
}
/* @font-face {
    font-family: "roboto-bold";
    src: url(../fonts/Roboto-BoldCondensed.ttf);
} */

